:host {
  background: var(--app-avatar-total-bg);
  font-size: var(--app-avatar-total-font-size);
  font-weight: var(--app-avatar-total-font-weight);
  color: var(--app-avatar-total-color);
  border-radius: var(--app-avatar-border-radius);
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--app-avatar-total-hover-bg);
  }
}

:host:not([class*='w-']):not([class*='size-']) {
  width: var(--app-avatar-size);
}

:host:not([class*='h-']):not([class*='size-']) {
  height: var(--app-avatar-size);
}
