:host {
  display: flex;
  align-items: center;
  width: max-content;
  background: var(--app-segmented-bg);
  padding: var(--app-segmented-padding);
  border-radius: var(--app-segmented-border-radius);
  gap: var(--app-segmented-gap);
  user-select: none;
}
