<app-page>
  <div appPageContent>
    <h1>Password Strength</h1>

    <h3>Basic password strength</h3>
    <fac-playground exampleUrl="_docs/components/password-strength/_examples" exampleName="basic-password-strength-example">
      <app-basic-password-strength-example></app-basic-password-strength-example>
    </fac-playground>

    <h3>Password strength info</h3>
    <fac-playground exampleUrl="_docs/components/password-strength/_examples" exampleName="password-strength-info-example">
      <app-password-strength-info-example></app-password-strength-info-example>
    </fac-playground>

    <h3>Password toggle visibility</h3>
    <fac-playground exampleUrl="_docs/components/password-strength/_examples" exampleName="password-toggle-visibility-example">
      <app-password-toggle-visibility-example></app-password-toggle-visibility-example>
    </fac-playground>
  </div>
</app-page>
