<app-page>
  <div appPageContent>
    <h1>Button Toggle</h1>

    <h3>Basic Button Toggle</h3>
    <fac-playground exampleUrl="_docs/forms/button-toggle/_examples" exampleName="basic-button-toggle-example">
      <app-basic-button-toggle-example></app-basic-button-toggle-example>
    </fac-playground>

    <h3>Selection Mode</h3>
    <fac-playground exampleUrl="_docs/forms/button-toggle/_examples" exampleName="button-toggle-selection-mode-example">
      <app-button-toggle-selection-mode-example></app-button-toggle-selection-mode-example>
    </fac-playground>

    <h3>Appearance</h3>
    <fac-playground exampleUrl="_docs/forms/button-toggle/_examples" exampleName="button-toggle-appearance-example">
      <app-button-toggle-appearance-example></app-button-toggle-appearance-example>
    </fac-playground>
  </div>
</app-page>
