:host {
  display: block;
  position: relative;
  border: var(--app-popover-border);
  box-shadow: var(--app-popover-shadow);
  border-radius: var(--app-popover-border-radius);
  background: var(--app-popover-bg);
  animation: 0.15s app-popover-animation;
}

:host-context(.app-overlay-above) {
  margin-bottom: var(--app-popover-margin);
  transform-origin: bottom;
}

:host-context(.app-overlay-below) {
  margin-top: var(--app-popover-margin);
  transform-origin: top;
}

:host-context(.app-overlay-before) {
  margin-inline-end: var(--app-popover-margin);
  transform-origin: right;
}

:host-context(.app-overlay-after) {
  margin-inline-start: var(--app-popover-margin);
  transform-origin: left;
}

@keyframes app-popover-animation {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
