<fac-segmented selectedValue="monthly">
  <fac-segmented-button value="daily">
    <mat-icon facSegmentedIcon class="font-icon text-xl">calendar_today</mat-icon>
    Daily
  </fac-segmented-button>
  <fac-segmented-button value="weekly">
    <mat-icon facSegmentedIcon class="font-icon text-xl">event</mat-icon>
    Weekly
  </fac-segmented-button>
  <fac-segmented-button value="monthly">
    <mat-icon facSegmentedIcon class="font-icon text-xl">calendar_month</mat-icon>
    Monthly
  </fac-segmented-button>
</fac-segmented>
