<fac-breadcrumbs>
  <fac-breadcrumb-item>
    <mat-icon facBreadcrumbItemIcon class="font-icon-filled">home</mat-icon>
  </fac-breadcrumb-item>
  <fac-breadcrumb-separator>/</fac-breadcrumb-separator>
  <fac-breadcrumb-item>
    <fac-breadcrumb-title>author</fac-breadcrumb-title>
    John D. Barrow
  </fac-breadcrumb-item>
  <fac-breadcrumb-separator>/</fac-breadcrumb-separator>
  <fac-breadcrumb-item>
    <fac-breadcrumb-title>book</fac-breadcrumb-title>
    The Artful Universe
  </fac-breadcrumb-item>
  <fac-breadcrumb-separator>/</fac-breadcrumb-separator>
  <fac-breadcrumb-item>
    <fac-breadcrumb-title>chapter</fac-breadcrumb-title>
    Size, life, and landscape
  </fac-breadcrumb-item>
  <fac-breadcrumb-separator>/</fac-breadcrumb-separator>
  <fac-breadcrumb-item>
    <fac-breadcrumb-title>title</fac-breadcrumb-title>
    Network news: branching out
  </fac-breadcrumb-item>
</fac-breadcrumbs>

