<fac-resizable-container minWidth="200" class="border rounded-lg @container">
  <fac-mchart-line  [data]="[2, 1, 3, 6, 2, 4, 3, 5, 1] | shuffleArray"
                    [labels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Sep', 'Aug']"
                    [tooltip]="tooltipRef"
                    compact
                    showArea
                    showMarkers
                    responsive
                    curve="curveBumpX"
                    class="h-[200px]">
    <ng-template #tooltipRef let-data>
      <fac-mchart-tooltip>
        <fac-mchart-tooltip-title>{{ data.label }}</fac-mchart-tooltip-title>
        <fac-mchart-tooltip-body>
          Value: {{ data.value }}
        </fac-mchart-tooltip-body>
      </fac-mchart-tooltip>
    </ng-template>
  </fac-mchart-line>
</fac-resizable-container>
