<fac-timeline>
  <fac-timeline-header>1 AUG, 2023</fac-timeline-header>
  <fac-timeline-item>
    <ng-template facTimelineItemIndicator>
      <fac-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></fac-avatar>
    </ng-template>
    <fac-timeline-timestamp>11, July</fac-timeline-timestamp>
    <fac-timeline-title>Created "facimaKit in Angular" task</fac-timeline-title>
    <fac-timeline-description>Find more detailed insctructions here.</fac-timeline-description>
  </fac-timeline-item>
  <fac-timeline-item>
    <ng-template facTimelineItemIndicator>
      <fac-avatar class="w-7 h-7">
        <mat-icon class="font-icon text-lg">folder</mat-icon>
      </fac-avatar>
    </ng-template>
    <fac-timeline-timestamp>03, July</fac-timeline-timestamp>
    <fac-timeline-title>Created "facimaKit in Angular" task</fac-timeline-title>
    <fac-timeline-description>Find more detailed insctructions here.</fac-timeline-description>
  </fac-timeline-item>
  <fac-timeline-item>
    <ng-template facTimelineItemIndicator>
      <fac-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-6 h-6" text="J"></fac-avatar>
    </ng-template>
    <fac-timeline-timestamp>25, June</fac-timeline-timestamp>
    <fac-timeline-title>Created "facimaKit in Angular" task</fac-timeline-title>
    <fac-timeline-description>Find more detailed insctructions here.</fac-timeline-description>
  </fac-timeline-item>
  <fac-timeline-item>
    <ng-template facTimelineItemIndicator>
      <fac-avatar src="https://randomuser.me/api/portraits/men/1.jpg" class="w-8 h-8" text="J"></fac-avatar>
    </ng-template>
    <fac-timeline-timestamp>22, June</fac-timeline-timestamp>
    <fac-timeline-title>Created "facimaKit in Angular" task</fac-timeline-title>
    <fac-timeline-description>Find more detailed insctructions here.</fac-timeline-description>
  </fac-timeline-item>
</fac-timeline>
