<fac-navigation activeKey="dashboard" class="border dark:border-inverse px-2 pt-4 pb-2 w-1/2" theme="simple">
  <fac-navigation-heading>Main</fac-navigation-heading>
  <fac-navigation-item key="dashboard">
    Dashboard
  </fac-navigation-item>
  <fac-navigation-item>
    Projects
  </fac-navigation-item>
  <fac-navigation-heading>Customization</fac-navigation-heading>
  <fac-navigation-item>Tasks</fac-navigation-item>
  <fac-navigation-item>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </fac-navigation-item>
  <fac-navigation-item key="dashboard1">
    <ng-template facNavigationItemIcon>
      <mat-icon facNavigationItemIcon class="font-icon">home</mat-icon>
    </ng-template>
    Dashboard
  </fac-navigation-item>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">view_kanban</mat-icon>
    Projects
  </fac-navigation-item>
  <fac-navigation-divider></fac-navigation-divider>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">check</mat-icon>
    Tasks
  </fac-navigation-item>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">person</mat-icon>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </fac-navigation-item>
  <fac-navigation-divider></fac-navigation-divider>
  <fac-navigation-group>
    <fac-navigation-group-toggle for="settings">
      Settings
      <mat-icon facNavigationGroupToggleIcon class="font-icon">expand_more</mat-icon>
    </fac-navigation-group-toggle>
    <fac-navigation-group-menu key="settings">
      <fac-navigation-item key="profile">Profile</fac-navigation-item>
      <div fac-navigation-item>Security</div>
    </fac-navigation-group-menu>
  </fac-navigation-group>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">support</mat-icon>
    Support
  </fac-navigation-item>
</fac-navigation>

