<div class="h-[400px] overflow-hidden">
  <fac-incidents>
    <fac-incidents-bar>
      <fac-incidents-title>Maintenance work on the DNS</fac-incidents-title>
      <fac-incidents-description>Description</fac-incidents-description>
      <mat-icon facIncidentsToggleIcon class="font-icon">expand_more</mat-icon>
    </fac-incidents-bar>
    <fac-incidents-list>
      @for (incident of incidents; track incident) {
        <fac-incident>
          <mat-icon facIncidentIcon class="font-icon">info</mat-icon>
          <mat-icon facIncidentClose class="font-icon">close</mat-icon>
          <fac-incident-title>{{ incident.title }}</fac-incident-title>
          <fac-incident-details>{{ incident.details }}</fac-incident-details>
        </fac-incident>
      }
    </fac-incidents-list>
  </fac-incidents>
</div>
