<div class="w-[500px] bg-neutral-100 dark:bg-neutral-900 rounded-xl p-5">
  <fac-carousel>
    <fac-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 1
      </div>
    </fac-carousel-card>
    <fac-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 2
      </div>
    </fac-carousel-card>
    <fac-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 3
      </div>
    </fac-carousel-card>
    <fac-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 4
      </div>
    </fac-carousel-card>
    <fac-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 5
      </div>
    </fac-carousel-card>
    <fac-carousel-card>
      <div class="border dark:border-inverse p-6 rounded-xl size-72 bg-background">
        Card 6
      </div>
    </fac-carousel-card>
    <ng-container facCarouselControls>
      <button mat-icon-button facCarouselPrevious>
        <mat-icon class="font-icon">arrow_back</mat-icon>
      </button>
      <button mat-icon-button facCarouselNext>
        <mat-icon class="font-icon">arrow_forward</mat-icon>
      </button>
    </ng-container>
  </fac-carousel>
</div>
