<fac-tab-panel activeItemId="home" class="h-[500px] border-t border-b border-s dark:border-s-neutral-600 dark:border-t-neutral-600 dark:border-b-neutral-600">
  <fac-tab-panel-body>
    <fac-tab-panel-nav>
      <fac-tab-panel-item for="home">
        <mat-icon facTabPanelItemIcon class="font-icon">home</mat-icon>
        <fac-tab-panel-item-text>Home</fac-tab-panel-item-text>
      </fac-tab-panel-item>
      <fac-tab-panel-item for="code">
        <mat-icon facTabPanelItemIcon class="font-icon">code</mat-icon>
        <fac-tab-panel-item-text>Code</fac-tab-panel-item-text>
      </fac-tab-panel-item>
    </fac-tab-panel-nav>
  </fac-tab-panel-body>
  <fac-tab-panel-aside>
    <ng-template facTabPanelAsideContent="home">
      Home content
    </ng-template>
    <ng-template facTabPanelAsideContent="code">
      Code content
    </ng-template>
  </fac-tab-panel-aside>
</fac-tab-panel>
