<div class="space-y-6">
  <fac-alert variant="default">
    <mat-icon facAlertIcon class="font-icon">info</mat-icon>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="secondary">
    <mat-icon facAlertIcon class="font-icon">info</mat-icon>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="positive">
    <mat-icon facAlertIcon class="font-icon">done</mat-icon>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="informative">
    <mat-icon facAlertIcon class="font-icon">help</mat-icon>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="negative">
    <mat-icon facAlertIcon class="font-icon">error</mat-icon>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="notice">
    <mat-icon facAlertIcon class="font-icon">info</mat-icon>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
</div>
