<div class="h-[600px] border">
  <fac-layout>
    <fac-layout-topbar>
      <fac-announcement iconName="warning" type="warning">
        You still have not uploaded your Mart invoice due on 22 April 2024
      </fac-announcement>
    </fac-layout-topbar>
    <fac-layout-header>
      <div class="border-b px-6 h-14 flex items-center">
        Header
      </div>
    </fac-layout-header>
    <fac-layout-body>
      <div class="h-[1000px] p-6">
        Body with scroll
      </div>
    </fac-layout-body>
  </fac-layout>
</div>
