<div class="space-y-6">
  <fac-alert variant="default">This is a Elementar Admin alert — check it out!</fac-alert>
  <fac-alert variant="secondary">This is a Elementar Admin alert — check it out!</fac-alert>
  <fac-alert variant="positive">This is a Elementar Admin alert — check it out!</fac-alert>
  <fac-alert variant="informative">This is a Elementar Admin alert — check it out!</fac-alert>
  <fac-alert variant="negative">This is a Elementar Admin alert — check it out!</fac-alert>
  <fac-alert variant="notice">This is a Elementar Admin alert — check it out!</fac-alert>
</div>
