<fac-navigation activeKey="dashboard" class="border dark:border-inverse p-2 w-1/2">
  <fac-navigation-item key="dashboard">
    Dashboard
  </fac-navigation-item>
  <fac-navigation-item>
    Projects
  </fac-navigation-item>
  <fac-navigation-item>Tasks</fac-navigation-item>
  <fac-navigation-item>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </fac-navigation-item>
  <fac-navigation-item>Support</fac-navigation-item>
</fac-navigation>
