<fac-panel>
  <fac-panel-header class="px-10 h-16">
    <div
      class="border-b dark:border-b-inverse h-full flex items-center justify-between"
    >
      <div class="flex items-center gap-7">
        <div class="text-lg font-bold">Tasks</div>
        <fac-v-divider></fac-v-divider>
        @if (selectedRows.length === 0) {
        <fac-segmented [(ngModel)]="status" theme="simple" class="-mx-2">
          <fac-segmented-button value="all">All</fac-segmented-button>
          <fac-segmented-button value="published"
            >Published</fac-segmented-button
          >
          <fac-segmented-button value="scheduled"
            >Scheduled</fac-segmented-button
          >
          <fac-segmented-button value="draft">Drafts</fac-segmented-button>
        </fac-segmented>
        <fac-v-divider></fac-v-divider>
        <input
          type="text"
          placeholder="Search..."
          class="border-b h-10 w-96 text-sm bg-transparent dark:border-b-inverse outline-0 focus-within:border-neutral-950"
        />
        } @else {
        <div class="text-sm">
          Checked <span class="font-bold">{{ selectedRows.length }}</span>
        </div>
        <fac-v-divider></fac-v-divider>
        <div class="flex items-center gap-4">
          <button mat-stroked-button>
            <mat-icon class="font-icon">download</mat-icon>Unpublish
          </button>
          <button mat-stroked-button color="warn">
            <mat-icon class="font-icon">delete</mat-icon>Delete
          </button>
        </div>
        }
      </div>
      <div>
        <button mat-flat-button>
          <mat-icon class="font-icon">add</mat-icon> New
        </button>
      </div>
    </div>
  </fac-panel-header>
  <fac-panel-body>
    <div class="px-10 pb-5">
      <fac-data-view
        [columnDefs]="columnDefs"
        [data]="data"
        [paginator]="paginator"
        [cellRenderers]="cellRenderers"
        withSelection
        stickyHeader
        withSorting
        highlightHeader
        (rowSelectionChanged)="rowSelectionChanged($event)"
        (selectionChanged)="selectionChanged($event)"
        (allRowsSelectionChanged)="allRowsSelectionChanged($event)"
      ></fac-data-view>
    </div>
  </fac-panel-body>
  <fac-panel-footer
    class="px-10 h-20 flex items-center justify-center border-t dark:border-t-inverse"
  >
    <mat-paginator
      #paginator
      pageSize="20"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </fac-panel-footer>
</fac-panel>
