:host {
  padding-inline-start: var(--app-navigation-group-menu-padding-start);
  margin-top: var(--app-navigation-item-space-y);
  display: none;
}

:host(.is-active) {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--app-navigation-items-gap);
  padding: calc(var(--app-navigation-items-gap) * 2) 0;
}
