<div class="space-y-10">
  <div class="flex gap-6">
    <fac-avatar text="PS" automaticColor="#fcd6bb"></fac-avatar>
    <fac-avatar text="N" automaticColor="#a7f3d0"></fac-avatar>
    <fac-avatar text="OP" automaticColor="#eecff3"></fac-avatar>
  </div>

  <div class="space-y-8">
    <div class="flex gap-6 items-center">
      <fac-avatar automaticColor="#eecff3">
        <mat-icon class="font-icon-filled">folder</mat-icon>
      </fac-avatar>
      <fac-avatar automaticColor="#fcd6bb">
        <mat-icon class="font-icon-filled">cloud_download</mat-icon>
      </fac-avatar>
      <fac-avatar automaticColor="#a7f3d0">
        <mat-icon class="font-icon-filled">person</mat-icon>
      </fac-avatar>
    </div>
    <div class="flex gap-6 items-center">
      <fac-avatar class="w-7 h-7" automaticColor="#fde68a">
        <mat-icon class="text-lg font-icon-filled">folder</mat-icon>
      </fac-avatar>
      <fac-avatar class="w-7 h-7" automaticColor="#a7f3d0">
        <mat-icon class="text-lg font-icon-filled">cloud_download</mat-icon>
      </fac-avatar>
      <fac-avatar class="w-7 h-7" automaticColor="#eecff3">
        <mat-icon class="text-lg font-icon-filled">person</mat-icon>
      </fac-avatar>
    </div>
  </div>

  <fac-avatar-group>
    <fac-avatar text="am" automaticColor="#bfdbfe"></fac-avatar>
    <fac-avatar text="ps" automaticColor="#a7f3d0"></fac-avatar>
    <fac-avatar text="br" automaticColor="#eecff3"></fac-avatar>
    <fac-avatar-total>+20</fac-avatar-total>
  </fac-avatar-group>
</div>
