:host {
  animation: var(--app-skeleton-item-animation);
  display: inline-block;
  flex: none;
  border-radius: 50%;
}

:host:not([class*='w-']):not([class*='size-']) {
  width: var(--app-skeleton-circle-size);
}

:host:not([class*='h-']):not([class*='size-']) {
  height: var(--app-skeleton-circle-size);
}
