:root {
  --app-data-view-hl-header-row-bg: theme('colors.neutral.200');
  --app-data-view-hl-header-margin: theme('margin.1') 0;
  --app-data-view-sticky-header-top: 0;
  --app-data-view-selected-border-color: theme('colors.primary.DEFAULT');
}

html.dark {
  --app-data-view-hl-header-row-bg: theme('colors.neutral.900');
}
