:root {
  --app-segmented-button-height: calc(theme('height.11') - theme('padding.2'));
  --app-segmented-bg: theme('colors.neutral.200');
  --app-segmented-button-hover-bg: theme('colors.neutral.200');
  --app-segmented-button-color: theme('colors.neutral.600');
  --app-segmented-button-hover-color: theme('colors.neutral.800');
  --app-segmented-button-selected-color: theme('colors.neutral.900');
  --app-segmented-button-selected-bg: theme('colors.white');
  --app-segmented-button-selected-shadow: theme('boxShadow.sm');
  --app-segmented-padding: theme('padding.1');
  --app-segmented-border-radius: theme('borderRadius.lg');
  --app-segmented-button-border-radius: theme('borderRadius.lg');
  --app-segmented-button-padding: 0 theme('padding.3');
  --app-segmented-button-min-width: theme('width.12');
  --app-segmented-button-font-size: theme('fontSize.tiny');
  --app-segmented-gap: theme('gap.1');
  --app-segmented-button-gap: theme('gap.1');
  --app-segmented-button-icon-offset-margin: -6px;
}

[app-segmented-size='sm'] {
  --app-segmented-button-height: calc(theme('height.10') - theme('padding.2'));
  --app-segmented-button-font-size: theme('fontSize.xs');
  --app-segmented-button-padding: 0 theme('padding.2');
  --app-segmented-button-gap: theme('gap[0.5]');
}

[app-segmented-size='lg'] {
  --app-segmented-button-height: calc(theme('height.14') - theme('padding.2'));
  --app-segmented-button-font-size: theme('fontSize.sm');
  --app-segmented-button-padding: 0 theme('padding.4');
  --app-segmented-button-gap: theme('gap[1.5]');
}

html.dark {
  --app-segmented-bg: theme('colors.neutral.600');
  --app-segmented-button-hover-bg: theme('colors.neutral.400');
  --app-segmented-button-color: theme('colors.neutral.300');
  --app-segmented-button-selected-bg: theme('colors.neutral.200');
  --app-segmented-button-hover-color: theme('colors.white');
}

.app-segmented[theme='simple'] {
  --app-segmented-bg: none;
  --app-segmented-button-hover-bg: none;
  --app-segmented-button-color: theme('colors.neutral.600');
  --app-segmented-button-hover-color: theme('colors.neutral.800');
  --app-segmented-button-selected-color: theme('colors.primary.DEFAULT');
  --app-segmented-button-selected-bg: none;
  --app-segmented-button-selected-shadow: none;
  --app-segmented-padding: 0;
  --app-segmented-border-radius: 0;
  --app-segmented-button-border-radius: theme('borderRadius.lg');
  --app-segmented-button-padding: 0 theme('padding.2');
  --app-segmented-button-min-width: 0;
}

html.dark {
  .app-segmented[theme='simple'] {
    --app-segmented-button-color: theme('colors.neutral.400');
    --app-segmented-button-hover-color: theme('colors.white');
  }
}
