:root {
  --fac-suggestions-bg: theme('colors.white');
  --fac-suggestion-block-heading-color: theme('colors.neutral.800');
  --fac-suggestion-block-font-size: theme('fontSize.xs');
  --fac-suggestion-block-font-weight: theme('fontWeight.semibold');
  --fac-suggestion-block-content-padding: theme('padding.2') 0;
  --fac-suggestion-height: theme('height.11');
  --fac-suggestion-padding: 0 theme('padding.2');
  --fac-suggestion-margin: 0 calc(-1 * theme('margin.2'));
  --fac-suggestion-hover-bg: theme('colors.neutral.100');
  --fac-suggestion-border-radius: theme('borderRadius.DEFAULT');
}

html.dark {
  --fac-suggestions-bg: theme('colors.neutral.600');
  --fac-suggestion-block-heading-color: theme('colors.neutral.200');
  --fac-suggestion-hover-bg: theme('colors.neutral.600');
}
