:root {
  --app-timeline-header-font-size: theme('fontSize.sm');
  --app-timeline-header-padding: theme('padding.0') 0 theme('padding.4') 0;
  --app-timeline-header-height: theme('height.8');
  --app-timeline-header-bg: theme('colors.transparent');
  --app-timeline-header-color: theme('colors.neutral.500');
  --app-timeline-header-text-transform: uppercase;
  --app-timeline-header-font-weight: theme('fontWeight.medium');
  --app-timeline-item-gap: theme('gap[2.5]');
  --app-timeline-item-no-timestamp-offset-start: -0.5rem;
  --app-timeline-timestamp-font-size: theme('fontSize.xs');
  --app-timeline-timestamp-width: theme('width.12');
  --app-timeline-timestamp-color: theme('colors.neutral.500');
  --app-timeline-timestamp-padding: 1px 0 0 0;
  --app-timeline-item-content-padding: 0 0 theme('padding.6') 0;
  --app-timeline-title-font-size: theme('fontSize.sm');
  --app-timeline-title-color: theme('colors.neutral.800');
  --app-timeline-title-font-weight: theme('fontWeight.medium');
  --app-timeline-item-attributes-padding: theme('padding.1') 0 0 0;
  --app-timeline-item-description-font-size: theme('fontSize.sm');
  --app-timeline-item-description-color: theme('colors.gray.500');
  --app-timeline-item-line-bg: theme('colors.neutral.300');
  --app-timeline-item-content-gap: theme('gap.1');
  --app-timeline-indicator-shape-size: theme('width.3');
  --app-timeline-indicator-bg: theme('colors.white');
  --app-timeline-indicator-border: 2px solid theme('colors.neutral.300');
}

html.dark {
  --app-timeline-item-line-bg: theme('colors.neutral.600');
  --app-timeline-header-color: theme('colors.neutral.400');
  --app-timeline-timestamp-color: theme('colors.neutral.300');
  --app-timeline-title-color: theme('colors.neutral.200');
  --app-timeline-item-description-color: theme('colors.neutral.500');
  --app-timeline-indicator-bg: theme('colors.neutral.950');
  --app-timeline-indicator-border: 2px solid theme('colors.neutral.500');
}
