:host {
  @apply block h-full;

  --fac-mchart-line-line-bg: theme('colors.amber.500');
  --fac-mchart-line-area-bg: theme('colors.amber.100');
  --fac-mchart-line-marker-dot-bg: theme('colors.amber.500');
  --fac-mchart-line-area-gradient-start-color: theme('colors.amber.200');
}

:host-context(html.dark) {
  --fac-mchart-line-area-bg: theme('colors.amber.100/0.2');
  --fac-mchart-line-area-gradient-start-color: theme('colors.neutral.700');
}
