<div class="h-[600px] border">
  <fac-layout>
    <fac-layout-topbar>
      <fac-announcement iconName="help" type="informative" closable>
        You still have not uploaded your Mart invoice due on 22 April 2024
      </fac-announcement>
    </fac-layout-topbar>
    <fac-layout-header>
      <div class="border-b px-6 h-14 flex items-center">
        Header
      </div>
    </fac-layout-header>
    <fac-layout-sidebar>
      <div class="p-6 border-r h-full w-[240px]">Sidebar</div>
    </fac-layout-sidebar>
    <fac-layout>
      <fac-layout-header>
        <div class="border-b px-6 h-12 flex items-center">
          Subheader
        </div>
      </fac-layout-header>
      <fac-layout-body>
        <div class="h-[1000px] p-6">Body with scroll</div>
      </fac-layout-body>
      <fac-layout-footer>
        <div class="border-t px-6 h-10 flex items-center text-xs">
          This is footer example &copy; 2024
        </div>
      </fac-layout-footer>
    </fac-layout>
  </fac-layout>
</div>
