<div class="space-y-6">
  <fac-announcement type="neutral">You still have not uploaded your Mart invoice due on 22 April 2024</fac-announcement>
  <fac-announcement type="informative">You still have not uploaded your Mart invoice due on 22 April 2024</fac-announcement>
  <fac-announcement type="negative">You still have not uploaded your Mart invoice due on 22 April 2024</fac-announcement>
  <fac-announcement type="positive">You still have not uploaded your Mart invoice due on 22 April 2024</fac-announcement>
  <fac-announcement type="warning">You still have not uploaded your Mart invoice due on 22 April 2024</fac-announcement>
</div>
