:host {
  animation: var(--app-skeleton-item-animation);
  display: block;
  flex: none;
}

:host:not([class*='rounded']) {
  border-radius: var(--app-skeleton-item-border-radius);
}

:host:not([class*='w-']):not([class*='size-']) {
  width: var(--app-skeleton-block-width);
}

:host:not([class*='h-']):not([class*='size-']) {
  height: var(--app-skeleton-block-height);
}
