:host {
  flex: none;
  display: flex;
  position: relative;
  align-items: center;
}

:host ::ng-deep * + * {
  margin-left: calc(var(--fac-avatar-group-item-offset) * -1);
}

:host ::ng-deep .fac-avatar,
:host ::ng-deep .fac-avatar-total {
  border: var(--fac-avatar-group-item-border);
  z-index: 0;
}
