<fac-breadcrumbs>
  <fac-breadcrumb-item>
    <mat-icon facBreadcrumbItemIcon class="font-icon-filled">home</mat-icon>
  </fac-breadcrumb-item>
  <fac-breadcrumb-separator>/</fac-breadcrumb-separator>
  <fac-breadcrumb-item>
    <mat-icon facBreadcrumbItemIcon class="font-icon-filled">person</mat-icon>
    Account
  </fac-breadcrumb-item>
  <fac-breadcrumb-separator>/</fac-breadcrumb-separator>
  <fac-breadcrumb-item>
    <mat-icon facBreadcrumbItemIcon class="font-icon-filled">settings</mat-icon>
    Settings
  </fac-breadcrumb-item>
  <fac-breadcrumb-separator>/</fac-breadcrumb-separator>
  <fac-breadcrumb-item>
    <mat-icon facBreadcrumbItemIcon class="font-icon-filled">notifications</mat-icon>
    Notifications
  </fac-breadcrumb-item>
</fac-breadcrumbs>
