<div class="space-y-8">
  <fac-skeleton>
    <fac-skeleton-circle></fac-skeleton-circle>
    <fac-skeleton-line></fac-skeleton-line>
    <fac-skeleton-line></fac-skeleton-line>
    <fac-skeleton-block></fac-skeleton-block>
    <fac-skeleton-line></fac-skeleton-line>
  </fac-skeleton>
  <fac-skeleton class="gap-5">
    <fac-skeleton-line class="h-7 w-24"></fac-skeleton-line>
    <fac-skeleton-line class="h-7 w-20"></fac-skeleton-line>
    <fac-skeleton-line class="h-7 w-28"></fac-skeleton-line>
    <fac-skeleton-line class="h-7 w-16"></fac-skeleton-line>
  </fac-skeleton>
</div>
