<fac-navigation activeKey="profile" class="border dark:border-inverse p-2 h-[500px] w-1/2">
  <fac-navigation-item>Dashboard</fac-navigation-item>
  <fac-navigation-item>Projects</fac-navigation-item>
  <div fac-navigation-item>Tasks</div>
  <fac-navigation-group>
    <fac-navigation-group-toggle for="settings">
      Settings
      <mat-icon facNavigationGroupToggleIcon class="font-icon">expand_more</mat-icon>
    </fac-navigation-group-toggle>
    <fac-navigation-group-menu key="settings">
      <fac-navigation-item key="profile">Profile</fac-navigation-item>
      <div fac-navigation-item>Security</div>
    </fac-navigation-group-menu>
  </fac-navigation-group>
  <fac-navigation-item>Support</fac-navigation-item>
</fac-navigation>
