<div class="space-y-6">
  <fac-alert>
    This is a Elementar Admin alert — check it out!
    <button facAlertAction facAlertClose>
      <mat-icon class="font-icon">close</mat-icon>
    </button>
  </fac-alert>
  <fac-alert variant="secondary">
    This is a Elementar Admin alert — check it out!
    <button facAlertAction facAlertClose>
      <mat-icon class="font-icon">close</mat-icon>
    </button>
  </fac-alert>
  <fac-alert variant="informative">
    This is a Elementar Admin alert — check it out!
    <button facAlertAction facAlertClose>
      <mat-icon class="font-icon">close</mat-icon>
    </button>
  </fac-alert>
  <fac-alert variant="negative">
    This is a Elementar Admin alert — check it out!
    <button facAlertAction>Action</button>
    <button facAlertAction facAlertClose>
      <mat-icon class="font-icon">close</mat-icon>
    </button>
  </fac-alert>
  <fac-alert variant="positive">
    <fac-alert-title>Alert Title</fac-alert-title>
    This is a Elementar Admin alert — check it out!
    <button facAlertAction facAlertClose>
      <mat-icon class="font-icon">close</mat-icon>
    </button>
  </fac-alert>
  <fac-alert variant="notice">
    <fac-alert-title>Alert Title</fac-alert-title>
    This is a Elementar Admin alert — check it out!
    <button facAlertAction>Action</button>
    <button facAlertAction facAlertClose>
      <mat-icon class="font-icon">close</mat-icon>
    </button>
  </fac-alert>
</div>
