<div class="space-y-6">
  <fac-alert>
    <fac-alert-title>Alert Title</fac-alert-title>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="secondary">
    <fac-alert-title>Alert Title</fac-alert-title>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="positive">
    <fac-alert-title>Alert Title</fac-alert-title>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
  <fac-alert variant="negative">
    <fac-alert-title>Alert Title</fac-alert-title>
    This is a Elementar Admin alert — check it out!
  </fac-alert>
</div>
