<div class="dark:bg-neutral-900 bg-neutral-100">
  @let categoriesList = categories$ | async;

  @let isUpdateButtonDisabled = editCategoryForm.invalid || isLoadingCategory();

  <h3 mat-dialog-title>Edit Bill</h3>

  <mat-dialog-content class="mat-typography">
    <form class="gap-1 flex flex-wrap" id="form" [formGroup]="editCategoryForm">
      <mat-form-field class="w-full my-2">
        <mat-label>Title</mat-label>
        <input id="title-field" name="title-field" data-testid="title-field" matInput formControlName="title"
          minlength="3" />
        @if (editCategoryForm.get('title')!.hasError('required')) {
        <mat-error data-testid="title-required-error">Title is <strong>required</strong></mat-error>
        }
        @if (editCategoryForm.get('title')!.hasError('minlength')) {
        <mat-error data-testid="title-minlength-error">Title field must contain
          <strong>3 characteres</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full my-2">
        <mat-label>Description</mat-label>
        <textarea id="description-field" name="description-field" data-testid="description-field" #description matInput
          formControlName="description" maxlength="256"></textarea>
        @if (editCategoryForm.get('description')!.hasError('required')) {
        <mat-error data-testid="description-required-error">Description is <strong>required</strong></mat-error>
        }
        @if (editCategoryForm.get('description')!.hasError('minlength')) {
        <mat-error data-testid="description-minlength-error">Description field must contain
          <strong>3 characteres</strong></mat-error>
        }
        <mat-hint align="end">{{ description.value.length }} / 256</mat-hint>
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [mat-dialog-close]="true">
      Cancel
    </button>
    <button mat-flat-button color="primary" data-testid="update-button" [disabled]="isUpdateButtonDisabled"
      [class.spinner]="isLoadingCategory()" (click)="onUpdateCategoryHandler()">
      Update
    </button>
  </mat-dialog-actions>
</div>