<div class="flex flex-col w-[100%] h-[100%] absolute">
  <div class="px-10 h-16">
    <div
      class="border-b dark:border-b-inverse h-full flex items-center justify-between">
      <div class="flex items-center gap-7">
        <div class="text-lg font-bold">Bills</div>
        <app-v-divider class="mt-4 mb-8"></app-v-divider>
        @if (selectedRows.length === 0) {
          <fac-segmented [(ngModel)]="status" theme="simple" class="-mx-2">
            <fac-segmented-button value="all">All</fac-segmented-button>
            <fac-segmented-button value="published">Paid</fac-segmented-button>
            <fac-segmented-button value="scheduled">Late</fac-segmented-button>
            <fac-segmented-button value="draft">Pay Today</fac-segmented-button>
          </fac-segmented>
          <app-v-divider></app-v-divider>
          <input
            type="text"
            placeholder="Search..."
            class="border-b h-10 w-96 text-sm bg-transparent dark:border-b-inverse outline-0 focus-within:border-neutral-950" />
        } @else {
          <div class="text-sm">
            Checked <span class="font-bold">{{ selectedRows.length }}</span>
          </div>
          <app-v-divider></app-v-divider>
          <div class="flex items-center gap-4">
            <button mat-stroked-button>
              <mat-icon class="font-icon">download</mat-icon>Unpublish
            </button>
            <button mat-stroked-button color="warn">
              <mat-icon class="font-icon">delete</mat-icon>Delete
            </button>
          </div>
        }
      </div>
      <div>
        <button mat-flat-button>
          <mat-icon class="font-icon">add</mat-icon> New
        </button>
      </div>
    </div>
  </div>
  <div class="grow-1 overflow-auto">
    <p class="mx-12 p-8">body</p>
    <p class="mx-12 p-8">body</p>
    <p class="mx-12 p-8">body</p>
    <p class="mx-12 p-8">body</p>
    <p class="mx-12 p-8">body</p>
    <p class="mx-12 p-8">body</p>
  </div>
  <div
    class="px-10 h-20 flex items-center justify-center border-t dark:border-t-inverse">
    <mat-paginator
      #paginator
      pageSize="20"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>
