:host {
  animation: var(--app-skeleton-item-animation);
  display: block;
  flex: none;
}

:host:not([class*='w-']):not([class*='size-']) {
  width: var(--app-skeleton-line-width);
}

:host:not([class*='h-']):not([class*='size-']) {
  height: var(--app-skeleton-line-height);
}

:host:not([class*='rounded-']) {
  border-radius: var(--app-skeleton-line-border-radius);
}
