<app-page>
  <div appPageContent>
    <h1>Navigation</h1>

    <h3>Basic Navigation</h3>
    <fac-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="basic-navigation-example">
      <app-basic-navigation-example></app-basic-navigation-example>
    </fac-playground>

    <h3>Navigation with heading</h3>
    <fac-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-heading-example">
      <app-navigation-with-heading-example></app-navigation-with-heading-example>
    </fac-playground>

    <h3>Navigation with divider</h3>
    <fac-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-divider-example">
      <app-navigation-with-divider-example></app-navigation-with-divider-example>
    </fac-playground>

    <h3>Navigation with icons</h3>
    <fac-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-icons-example">
      <app-navigation-with-icons-example></app-navigation-with-icons-example>
    </fac-playground>

    <h3>Navigation with nested menu</h3>
    <fac-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-nested-menu-example">
      <app-navigation-with-nested-menu-example></app-navigation-with-nested-menu-example>
    </fac-playground>

    <h3>Navigation <code>simple</code> theme</h3>
    <fac-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-with-simple-theme-example">
      <app-navigation-with-simple-theme-example></app-navigation-with-simple-theme-example>
    </fac-playground>

    <h3>Navigation <code>secondary</code> theme</h3>
    <fac-playground exampleUrl="_docs/navigation/navigation/_examples" exampleName="navigation-secondary-theme-example">
      <app-navigation-secondary-theme-example></app-navigation-secondary-theme-example>
    </fac-playground>
  </div>
</app-page>
