<div class="flex items-center gap-10">
  <fac-mchart-pie [data]="data1 | shuffleArray"
                  showDataAnimation
                  showValueOnSlices
                  valueFontSize="7"
                  class="size-[25px]"></fac-mchart-pie>
  <fac-mchart-pie [data]="data2 | shuffleArray"
                  showDataAnimation
                  showValueOnSlices
                  valueFontSize="10"
                  class="size-[50px]"></fac-mchart-pie>
  <fac-mchart-pie [data]="data3 | shuffleArray"
                  showDataAnimation
                  showValueOnSlices
                  valueFontSize="11"
                  class="size-[100px]"></fac-mchart-pie>
  <fac-mchart-pie [data]="data4 | shuffleArray"
                  showDataAnimation
                  showValueOnSlices
                  class="size-[200px]"></fac-mchart-pie>
</div>
