<fac-navigation activeKey="dashboard" class="border dark:border-inverse p-2 w-1/2">
  <fac-navigation-item key="dashboard">
    <ng-template facNavigationItemIcon>
      <mat-icon facNavigationItemIcon class="font-icon">home</mat-icon>
    </ng-template>
    Dashboard
  </fac-navigation-item>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">view_kanban</mat-icon>
    Projects
  </fac-navigation-item>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">check</mat-icon>
    Tasks
  </fac-navigation-item>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">person</mat-icon>
    <div class="overflow-hidden overflow-ellipsis">
      Really long menu item text, really long menu item text
    </div>
  </fac-navigation-item>
  <fac-navigation-item>
    <mat-icon facNavigationItemIcon class="font-icon">support</mat-icon>
    Support
  </fac-navigation-item>
</fac-navigation>
