<app-page>
  <div appPageContent>
    <h1>Progress Spinner</h1>

    <h3>Basic Progress Spinner</h3>
    <fac-playground exampleUrl="_docs/components/progress-spinner/_examples" exampleName="basic-progress-spinner-example">
      <app-basic-progress-spinner-example></app-basic-progress-spinner-example>
    </fac-playground>

    <h3>Configurable Progress Spinner</h3>
    <fac-playground exampleUrl="_docs/components/progress-spinner/_examples" exampleName="configurable-spinner-example">
      <app-configurable-spinner-example></app-configurable-spinner-example>
    </fac-playground>
  </div>
</app-page>
