<app-page>
  <div appPageContent>
    <h1>Card</h1>

    <h3>Basic Card</h3>
    <fac-playground exampleUrl="_docs/components/card/_examples" exampleName="basic-card-example">
      <app-basic-card-example></app-basic-card-example>
    </fac-playground>

    <h3>Card Actions</h3>
    <fac-playground exampleUrl="_docs/components/card/_examples" exampleName="card-actions-example">
      <app-card-actions-example></app-card-actions-example>
    </fac-playground>

    <h3>Card Multiple Sections</h3>
    <fac-playground exampleUrl="_docs/components/card/_examples" exampleName="card-multiple-sections-example">
      <app-card-multiple-sections-example></app-card-multiple-sections-example>
    </fac-playground>

    <h3>Card Footer Loading</h3>
    <fac-playground exampleUrl="_docs/components/card/_examples" exampleName="card-footer-loading-example">
      <app-card-footer-loading-example></app-card-footer-loading-example>
    </fac-playground>
  </div>
</app-page>
