<div class="flex items-center gap-10">
  <fac-mchart-pie [data]="data1 | shuffleArray"
                  [showDataAnimation]="showDataAnimation"
                  class="size-[25px]"></fac-mchart-pie>
  <fac-mchart-pie [data]="data2 | shuffleArray"
                  [showDataAnimation]="showDataAnimation"
                  class="size-[50px]"></fac-mchart-pie>
  <fac-mchart-pie [data]="data3 | shuffleArray"
                  [showDataAnimation]="showDataAnimation"
                  class="size-[100px]"></fac-mchart-pie>
  <fac-mchart-pie [data]="data4 | shuffleArray"
                  [showDataAnimation]="showDataAnimation"
                  class="size-[200px]"></fac-mchart-pie>
</div>
<div class="mt-10 flex items-center gap-5">
  <button mat-flat-button (click)="refreshData()">Refresh Data</button>
  <mat-slide-toggle [(ngModel)]="showDataAnimation">Show data animation</mat-slide-toggle>
</div>
