<fac-layout-body>
  <fac-layout>
    <fac-layout-sidebar class="border-r dark:border-r-neutral-600 w-[300px] py-7 px-5">
      <fac-navigation [activeKey]="activeLinkId" theme="secondary">
        @for (navItem of navItems; track navItem) {
          <a [routerLink]="navItem.link" fac-navigation-item [key]="navItem.link">{{ navItem.name }}</a>
        }
      </fac-navigation>
    </fac-layout-sidebar>
    <fac-layout-body>
      <router-outlet></router-outlet>
    </fac-layout-body>
  </fac-layout>
</fac-layout-body>
